<div>
  <h1>Welcome to Aura Clicker</h1>
  <div id="page-content">
    <!-- Уровень + полоса прогресса -->
    <div class="mb-4">
      <h3>Level: <span id="levelName">Novice Soul</span> (<span id="level">1</span>)</h3>
      <div class="progress">
        <div id="levelProgress" class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0"
          aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>

    <!-- Энергия персонажа (усталость души) -->
    <div class="mb-4">
      <h3>Energy: <span id="energy">500</span></h3>
      <div class="progress">
        <div id="energyProgress" class="progress-bar bg-success" role="progressbar" style="width: 100%;"
          aria-valuenow="500" aria-valuemin="0" aria-valuemax="1000"></div>
      </div>
    </div>

    <!-- Балансы монет + пассивный доход в час -->
    <div class="mb-4">
      <h3>Coins: <span id="coins">0</span></h3>
      <p>Passive income per hour: <span id="passiveIncome">10</span></p>
    </div>

    <!-- Кнопка для кликера -->
    <div class="buttons-container mb-4">
      <button id="tapButton" class="btn btn-primary tap-button">Tap</button>
    </div>
  </div>
</div>

<script>
  function init(data, config, updateDataCallback) {
    console.log('Init with data: ', data);
    const energyDisplay = document.getElementById('energy');
    const levelDisplay = document.getElementById('level');
    const levelNameDisplay = document.getElementById('levelName');
    const coinsDisplay = document.getElementById('coins');
    const passiveIncomeDisplay = document.getElementById('passiveIncome');
    const levelProgress = document.getElementById('levelProgress');
    const energyProgress = document.getElementById('energyProgress');
    const tapButton = document.getElementById('tapButton');

    function updateUI() {
      document.body.style.backgroundImage = `url(/images/${config.images[data.level - 1]})`
      levelNameDisplay.textContent = config.levels[data.level - 1];
      levelDisplay.textContent = data.level;
      energyDisplay.textContent = Math.floor(data.energy);
      energyProgress.style.width = `${(data.energy / (500 * Math.pow(2, data.level - 1))) * 100}%`;
      coinsDisplay.textContent = Math.floor(data.coins);
      passiveIncomeDisplay.textContent = data.passiveIncome;
      levelProgress.style.width = `${(data.coins / config.levelRequirements[data.level]) * 100}%`;
    }

    function localUpdateData() {
      updateUI();
      updateDataCallback(data);
    }

    setInterval(() => {
      if (data.energy < 500 * Math.pow(2, data.level - 1)) {
        data.energy++;
        energyDisplay.textContent = energy;
        energyProgress.style.width = `${(energy / (500 * Math.pow(2, level - 1))) * 100}%`;
        localUpdateData();
      }
    }, 1000);

    // setInterval(() => {
    //   console.log('Update coins with passiveIncome ', data.passiveIncome)
    //   data.coins += data.passiveIncome / 60;
    //   coinsDisplay.textContent = Math.floor(data.coins);
    //   localUpdateData();
    // }, 60000);

    tapButton.addEventListener('click', () => {
      if (data.energy > 0) {
        data.coins += data.tap_power;
        data.energy--;
        console.log('Update coins with tap power ', data.tap_power, data.coins);
        if (data.coins >= config.levelRequirements[level]) {
          if (data.level < config.levels.length) {
            data.level++;
            data.energy = 500 * Math.pow(2, data.level - 1);
          }
        }
        localUpdateData();
      }
    });

    updateUI();
  }
</script>