<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aura Clicker</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <div id="content" class="container mt-3">
        <!-- Dynamic content will be loaded here -->
    </div>
    <!-- Bottom Navigation -->
    <nav class="navbar navbar-expand-sm bg-light navbar-light nav-bottom">
        <ul class="navbar-nav nav-justified w-100">
            <li class="nav-item">
                <a class="nav-link text-center" href="home" data-page="home">
                    <i class="fas fa-home"></i><br>Home
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-center" href="inventory" data-page="inventory">
                    <i class="fas fa-boxes"></i><br>Inventory
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-center" href="shop" data-page="shop">
                    <i class="fas fa-shopping-cart"></i><br>Shop
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-center" href="profile" data-page="profile">
                    <i class="fas fa-user"></i><br>Profile
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-center" href="tasks" data-page="tasks">
                    <i class="fas fa-tasks"></i><br>Tasks
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-center" href="referrals" data-page="referrals">
                    <i class="fas fa-users"></i><br>Referrals
                </a>
            </li>
        </ul>
    </nav>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <script type="module" src="/systemManager.js"></script>
    <script type="module" src="/ecs.js"></script>
    <script type="module" src="/systems.js"></script>
    <script type="module" src="/components.js"></script>
    <script type="module" src="/index.js"></script>
</body>

</html>