<div id="page-content">
  <div class="header">
    <h1 class="shop-header">
      <span class="shop-title">Profile</span>
    </h1>
  </div>
  <div class="info-area">
    <div class="info-row">
      <span>Coins: <span id="coins">0</span></span>
      <span>Tap power: <span id="tapPower">1</span></span>
      <span>Passive income: <span id="passiveIncome">1</span></span>
    </div>
  </div>

  <div class="profile-navigate mb-4">
    <div class="button navigate" data-page="inventory">
      <img src="/images/inventory.webp" alt="Inventory">
      <span>Inventory</span>
    </div>
    <div class="button navigate" data-page="referrals">
      <img src="/images/tasks.webp" alt="Referrals">
      <span>Referrals</span>
    </div>
    <div class="button navigate" data-page="ratings">
      <img src="/images/rating.webp" alt="Ratings">
      <span>Ratings</span>
    </div>
    <div class="button navigate" id="telegramNewsButton">
      <img src="/images/taps.webp" alt="Telegram News">
      <span>Telegram News</span>
    </div>
  </div>
  <script>
    document.getElementById('telegramNewsButton').addEventListener('click', function() {
      window.Telegram.WebApp.openLink('https://t.me/aura_tg_news');
    });
  </script>