<div id="page-content">
  <div class="header">
    <h1 class="shop-header">
      <span class="shop-title">Profile</span>
      <span class="shop-stars">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="telegram-stars">
          <polygon
            points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2">
          </polygon>
        </svg>
        <span class="stars-amount">100</span>
      </span>
    </h1>
  </div>
  <div class="info-area">
    <div class="info-row">
      <span>Coins: <span id="coins">0</span></span>
      <span>Passive income: <span id="passiveIncome">1</span></span>
    </div>
  </div>

  <div class="profile-navigate mb-4">
    <a class="button navigate" data-page="inventory">
      <img src="/images/inventory.webp" alt="Inventory">
      <span>Inventory</span>
    </a>
  </div>