<div id="page-content">
  <div class="header">
    <h1 class="shop-header">
      <span class="shop-title">Shop</span>
    </h1>
  </div>
  <div class="info-area">
    <div class="info-row">
      <span>Coins: <span id="coins">0</span></span>
      <span>Passive income: <span id="passiveIncome">1</span></span>
    </div>
  </div>
  <div id="shop-tabs">
    <button class="tab-button active" data-tab="monsters">Monsters</button>
    <button class="tab-button" data-tab="cards">Packs</button>
  </div>

  <div id="shop-content">
    <div id="monsters-container" class="tab-content active scrollable-container grid-container">
      <!-- Monster items will be dynamically inserted here -->
    </div>
    <div id="cards-container" class="tab-content scrollable-container grid-container">
      <!-- <div class="pack">
        <img src="images/boosters.webp" alt="Items Pack">
        <button id="openPack" class="buy-button">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
            stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="telegram-stars">
            <polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2">
            </polygon>
          </svg>
          <span class="price">100</span>
        </button>
      </div> -->
    </div>
  </div>
</div>