<div id="page-content">
  <h1>Shop</h1>
  <div id="shopList"></div>
<div>Monstrs</div>
<div>Свет</div>\
<div id="vse_svet"></div>
<div>Тьма</div>
<div id="vse_tma"></div>
<div>Воздух</div>
<div id="vse_vozdux"></div>
<div>Вода</div>
<div id="vse_voda"></div>
<div>Земля</div>
<div id="vse_zemly"></div>
<div>Огонь</div>
<div id="vse_ogon"></div>
<div id="from_bd_monsters"></div>
<div>Pay pack</div>
<div src=""></div>
<div id="predmet_za_starz"></div>
<div><buuton id="pay_pack">pay</buuton></div>


</div>