html,
body {
    height: 100%;
    width: 100%;
    position: fixed;
    margin: 0;
    padding: 0;
}

.header {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    color: #ffffff;
    padding: 15px 10px 5px 10px;
}

h1 {
    font-size: 1.2em;
}

#shop-content {
    flex-grow: 1;
    overflow-y: auto;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 20px;
}

#page-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    color: #ffffff;
    margin: 0 auto;
}

#main {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.info-area {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    color: #ffffff;
    padding: 5px;
    margin: 10px 0px 10px 0px;
}

.info-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2px;
    font-size: 0.9em;
    color: #ffffff;
    padding: 10px 10px 10px 10px;
}

.progress {
    height: 10px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    overflow: hidden;
    margin-top: 2px;
}

.progress-bar {
    height: 100%;
    border-radius: 5px;
}

.level-progress {
    background: #3498db;
}

.energy-progress {
    background: #2ecc71;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px 0;
    gap: 5px;
}

.button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
}

.button img {
    width: 45px;
    height: 45px;
}

.button span {
    font-size: 0.8em;
    margin-top: 1px;
}

.tap-button-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#tap-button {
    width: 70vw;
    height: 70vw;
    max-width: 260px;
    max-height: 260px;
    border-radius: 50%;
    background: url('/images/taps.webp') no-repeat center center;
    background-size: cover;
    border: none;
    cursor: pointer;
    transition: all 0.1s;
}

#tap-button:active {
    transform: scale(1.03);
    filter: brightness(1.2) drop-shadow(0 0 10px rgba(255, 255, 255, 0.7));
    outline: none;
    border: none;
}

#tap-button:focus {
    outline: none;
    border: none;
}

#shop-tabs {
    display: flex;
    justify-content: center;
}

.tab-button {
    width: 100%;
    background-color: #16213e;
    border: none;
    color: white;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 14px;
    border-radius: 10px 10px 0 0;
}

#tab-button:focus {
    outline: none;
    border: none;
}

.tab-button.active {
    background-color: #0f3460;
}

.tab-content {
    display: none
}

.tab-content.active {
    display: grid;
}

.scrollable-container {
    height: calc(60vh);
    width: 100%;
    overflow-y: auto;
    border: 1px solid #0f3460;
    padding: 10px;
    border-radius: 0 0 10px 10px;
}

.grid-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.shop-item {
    background-color: #1e2732;
    border-radius: 10px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.shop-item h4 {
    margin: 5px 0;
    font-size: 12px;
    text-align: center;
}

.monster-image {
    width: 80px;
    height: 100px;
    object-fit: cover;
    border-radius: 20%;
    margin-bottom: 8px;
}

.level-price-container {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100%;
    gap: 25px;
}

.monster-income,
.monster-price {
    margin: 2px 0;
    text-align: center;
    color: #a0a0a0;
}

.monster-level {
    text-align: center;
    font-weight: bold;
    color: #d0d0d0;
}

.buy-button {
    background-color: rgb(180, 153, 4);
    color: white;
    border: none;
    padding: 4px 8px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 12px;
    width: 80px;
}

.buy-button:hover,
.buy-button:focus,
.buy-button:active {
    background-color: rgb(126, 108, 3);
}

.buy-button:hover:not(:disabled),
.buy-button:focus:not(:disabled),
.buy-button:active:not(:disabled) {
    background-color: rgb(126, 108, 3);
}

.buy-button:disabled {
    background-color: #686868;
    color: #000000;
    cursor: not-allowed;
    opacity: 1;
}

.popup {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: #1a1a2e;
    padding: 4vh 4vw;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 255, 0.3);
    width: 80vw;
    max-width: 400px;
    text-align: center;
    color: #ffffff;
}

.popup-content h2 {
    margin-top: 0;
    font-size: 4vmin;
    color: #ffffff;
}

.popup-content p {
    margin-bottom: 3vh;
    font-size: 3vmin;
    color: #a0a0a0;
}

.close-btn {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 2vh 4vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 3vmin;
    margin: 2vh 0;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.close-btn:hover,
.close-btn:focus {
    background-color: #45a049;
}

@media (min-aspect-ratio: 1/1) {
    #tap-button {
        width: 40vh;
        height: 40vh;
    }
}

@media screen and (orientation: portrait) {
    html {
        /* Force the content to stay in portrait mode */
        transform: rotate(0deg);
    }
}